<div class="home-container">
    <div class="content">
        <h1>Visao</h1>
        <p>
            A DIGIBOARD visa ser reconhecida pela qualidade <br>
            de seus processos e serviços de montagem <br> 
            de placas de circuito impresso com uso de conceitos de <br> 
            inovação e melhoria contínua, <br> respeitando o meio ambiente.
        </p>
        <h1>Valores</h1>
        <p>
            Garantir um Ambiente Seguro e Saudável ao Trabalhador;<br>
            Atender Requisitos Legais aplicáveis ao Negócio;<br>
            Responsabilidade Socioambiental;<br>
            Ética e Transparência;<br>
            Bom Relacionamento com seus Clientes e Partes Interessadas;<br>
            Foco em Qualidade e Melhoria Contínua com uso e desenvolvimento de Tecnologia e Inovação. 
        </p>

    </div>
</div>