<div class="container">
 <form class="example-form">
    <mat-form-field class="example-full-width">
      <h1>Cadastro de Usuario</h1>
      <input matInput disabled value="">
    </mat-form-field>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Nome</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field></td>
    </table>
  
    <p>
      
    </p>

    <mat-radio-group aria-label="Select an option">
        <mat-label>Sexo:</mat-label>
        <mat-radio-button value="1">M</mat-radio-button>
        <mat-radio-button value="2">F</mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="example-full-width">
        <mat-label>Telefone</mat-label>
        <input type="tel" matInput placeholder="+55(92) 555-555-1234">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      
  
    <table class="example-full-width" cellspacing="0"><tr>
        
      <td><mat-form-field class="example-full-width">
        <mat-label>Cidade</mat-label>
        <input matInput placeholder="Ex. San Francisco">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Estado</mat-label>
        <input matInput placeholder="Ex. California">
      </mat-form-field></td>
     </tr></table>
  </form>
</div>  