/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
    display: flex;
    justify-content: space-between;
    text-align:  center;
    width: 100%;
    align-items: center;
}

.content-container{
    display: flex;
    width: 100%;
    max-width: 528px;
    
    justify-content: end;    
}

.subtitle{
    width: 100%;
    max-width: 320px;
    justify-content: start;
    display: flex;
}